@import "./utilities/variable";
@import "./utilities/mixins";
@import "./base/reset";
@import "./layout/header";
@import "./layout/footer";



.icons-index{
    height: 18.75rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

.envios{
    grid-column: 2/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.pagos{
    grid-column: 4/6;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.seguridad{
    grid-column: 6/8;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.main-index{
    width: 100%;
    background-color: white;
}



/*PRODUCTS.HTML*/

.cards-products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 600px);
}

.cards{
    justify-self: center;
    align-self: center;
    border-radius: .5rem;
    text-align: center;
    margin: 1.875rem;
    background-color: white;
    width: 15.625rem;
    height: 28.125rem;
    img{
        width: 15.625rem;
        border-radius: .5rem;
    }
    div{
        margin: .625rem;
        h4{
            color: black;
            font-family: 'Maven Pro', sans-serif;
        }
        p{
            color: black;
            font-family: 'Maven Pro', sans-serif;
        }
        button{
            padding: .3125rem;
            border-radius: .25rem;
            background-color: black;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }   
}

.cards:hover{
    transform: scale(1.2);
}
/*POLITICAS.HTML*/

.politicas{
    width: 50rem;
    height: 25rem;
    background-color: black;
    padding: 1.875rem;
    margin: auto;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    border-radius: .5rem;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}

/*CONTACTO.HTML*/

.main-contact{
    background-color: white;
}

.form-contact{
    width: 50rem;
    background-color: black;
    padding: 1.875rem;
    margin: auto;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    border-radius: .5rem;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    h4{
        font-size: 1.875rem;
        text-align: center;
        font-family: 'Maven Pro', sans-serif;
    }
}

.controls{
    width: 100%;
    background-color: black;
    padding: .625rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    border: .0625rem solid gray;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.125rem;
    color: white;
}

.mensaje{
    @extend .controls;
    padding-bottom: 6.25rem;
}

.button{
    width: 100%;
    background-color: white;
    padding: .625rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    border: .0625rem solid gray;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
}

/*CARRO.HTML*/

.carro{
    width: 50rem;
    height: 25rem;
    background-color: white;
    padding: 1.875rem;
    border: .125rem solid black;
    margin: auto;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    border-radius: .5rem;
    font-family: 'Maven Pro', sans-serif;
    color: black;
    p{
        margin: auto;
        margin-top: 9.375rem;
        text-align: center;
        width: 25rem;
        border: .125rem solid gray;
        border-radius: .625rem;
    }
}


@import "./layout/media1440";
@import "./layout/media1024";
@import "./layout/media768";
@import "./layout/media425";
@import "./layout/media375";
@import "./layout/media320";